.o_voip_dialing_panel_container {
    .o_dial {
        .o_dial_fold {
            .o_dial_window_title {
                // remove this comment for voip design improve
                // margin: 0;
                // width: 100%;
                // padding: 10px;
                padding: 0 10px;
                background-color: var(--biz-theme-primary-color) !important;
                color: var(--biz-theme-primary-text-color) !important;
                border-top-left-radius: var(--border-radius-lg) !important;
                border-top-right-radius: var(--border-radius-lg) !important;
            }
        }
        .o_dial_panel {
            .o_notebook {
                .nav{
                    background-color: transparent;
                    border: 0;
                }
                .nav-tabs {
                    li {
                        .o_dial_tab {
                            width: 100% !important;
                        }
                        padding: 0 4px !important;
                    }
                }
            }
        }
        border-top-left-radius: var(--border-radius-lg);
        border-top-right-radius: var(--border-radius-lg);
    }
}