.o_home_menu {
    .o_menu_search {
        border-radius: var(--border-radius-lg);

        .o_menu_search_input{
            color: inherit !important;
        }
    }
    .o_app{
        color: inherit !important;

        .o_caption{
            color: inherit !important;
        }
    }
    .container {
        .o_app.o_focused {
            background-color: transparent !important;
        }
        .app-image {
            .img, .ri, .fa {
                transition: 0.3s;
                font-size: 64px;
                color: inherit;
                width: 64px;
                height: 64px;
                line-height: 64px;
                object-fit: contain;
                vertical-align: middle;
                text-align: center;

                &:hover {
                    transform: translateY(-5px);
                }
            }
            .fa {
                font-size: 30px;
                border-radius: var(--border-radius-lg);
            }
        }
        .app-name {
            color: inherit !important;
            font-size: 14px;
        }
    }
}